.recommend_top {
    font-size: 33px;
    color: aqua;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 480px;
}

.hotel {
    border: 1px solid rgb(180, 178, 178);
    border-radius: 10px;
}

.hotel_one,
.hotel_two,
.hotel_three,
.hotel_four,
.hotel_five,
.hotel_six {
    position: absolute;
    width: 250px;
    margin: 20px;
    /*测试用
            background-color: rgb(87, 16, 16);
            */
}

.hotel {
    display: -webkit-box;
    padding: 0px;
    height: 150px;
    width: 300px;
    /*测试用
            background-color: rgb(43, 223, 52);
            */
}

.hotel_one {
    left: 100px;
    top: 540px;
}

.hotel_two {
    left: 500px;
    top: 540px;
}

.hotel_three {
    left: 900px;
    top: 540px;
}

.hotel_four {
    left: 100px;
    top: 720px;
}

.hotel_five {
    left: 500px;
    top: 720px;
}

.hotel_six {
    left: 900px;
    top: 720px;
}

.city_span {
    font-weight: bold;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 240px;
    height: 24px;
    display: block;
}

.recommend_img {
    border-radius: 10px;
}