<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--全局设置-->
    <settings>
        <!--1.获取数据库自增主键 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!--2.允许使用别名-->
        <setting name="useColumnLabel" value="true"/>
        <!--3.驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.dai.entity.HotelInfo" alias="HotelInfo"/>
        <typeAlias type="com.dai.entity.Comment" alias="Comment"/>
        <typeAlias type="com.dai.entity.MyFavor" alias="MyFavor"/>
        <typeAlias type="com.dai.entity.UserInfo" alias="UserInfo"/>
    </typeAliases>

</configuration>