<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dai.dao.HotelInfoDao">
    <select id="queryAll" resultType="HotelInfo">
        SELECT
          ownername, ownerphone, hotelid, hotelimage, hotelprovince,
          hotelcity, favornum, hotelprice, hoteladdress
        FROM
          hotelinfo;
    </select>

    <select id="selectCount" resultType="int">
        SELECT
          count(*)
        FROM
          hotelinfo
    </select>

    <select id="queryByIndex" resultType="HotelInfo">
        SELECT
          ownername, ownerphone, hotelid, hotelimage, hotelprovince,
          hotelcity, favornum, hotelprice, hoteladdress
        FROM
          hotelinfo
        LIMIT
          #{offset}, #{limit}
    </select>

    <select id="queryByAddress" resultType="HotelInfo">
        SELECT
          ownername, ownerphone, hotelid, hotelimage, hotelprovince,
          hotelcity, favornum, hotelprice, hoteladdress
        FROM
          hotelinfo
        WHERE
          hotelprovince=#{prov} and hotelcity=#{city}
    </select>

    <select id="queryByPrice" resultType="HotelInfo">
        SELECT
          ownername, ownerphone, hotelid, hotelimage, hotelprovince,
          hotelcity, favornum, hotelprice, hoteladdress
        FROM
          hotelinfo
        WHERE
          hotelprice BETWEEN #{lowest} AND #{highest}
    </select>

    <select id="queryById" resultType="HotelInfo">
        SELECT
          ownername, ownerphone, hotelid, hotelimage, hotelprovince,
          hotelcity, favornum, hotelprice, hoteladdress
        FROM
          hotelinfo
        WHERE
          hotelid=#{hotelId}
    </select>

    <select id="queryByKeyword" resultType="HotelInfo">
        SELECT
          ownername, ownerphone, hotelid, hotelimage, hotelprovince,
          hotelcity, favornum, hotelprice, hoteladdress
        FROM
          hotelinfo
        WHERE
          1=1
          <choose>
              <when test="'ownername'.equals(type)">
                  AND ownername LIKE #{keyword}
              </when>
              <when test="'ownerphone'.equals(type)">
                  AND ownerphone LIKE #{keyword}
              </when>
              <otherwise>
                  AND hoteladdress LIKE #{keyword}
              </otherwise>
          </choose>
    </select>

    <insert id="addHotelInfo" parameterType="HotelInfo">
        INSERT INTO
          hotelinfo (ownername, ownerphone, hotelimage, hotelprovince,
          hotelcity, hotelprice, hoteladdress)
        VALUES (#{ownerName}, #{ownerPhone},
        #{hotelImage},
        #{hotelProvince}, #{hotelCity},
        #{hotelPrice}, #{hotelAddress})
    </insert>

    <delete id="deleteHotelInfo" parameterType="int">
        DELETE FROM
          hotelinfo
        WHERE
          hotelid=#{hotelId}
    </delete>

    <update id="updateHotelInfo" parameterType="HotelInfo">
        UPDATE
          hotelinfo
        SET
          ownername=#{ownerName},
          ownerphone=#{ownerPhone},
          hotelprovince=#{hotelProvince},
          hotelcity=#{hotelCity},
          hotelprice=#{hotelPrice},
          hoteladdress=#{hotelAddress},
          <if test="hotelImage != null">
            hotelimage=#{hotelImage}
          </if>
        WHERE
          hotelid=#{hotelId}
    </update>
    <select id="querySix" resultType="HotelInfo">
        SELECT * FROM hotelinfo ORDER BY favornum DESC limit 6;
    </select>
</mapper>